.mt-monitor-title 缩小
.mt-monitor-content 
  .mt-performance.mt-monitor-content-panel
    .mt-panel-title 启动性能
    .mt-panel-content
    .mt-panel-canvas
      canvas
  .mt-fps.mt-monitor-content-panel
    .mt-panel-title 帧数
    .mt-panel-content
    .mt-panel-canvas
      canvas