.mt-monitor-bg
.mt-monitor
  .mt-monitor-title 缩小
  .mt-monitor-content 
    .mt-performance
      .mt-panel-title 启动性能
      .mt-panel-content
    .mt-fps
      .mt-panel-title 帧数
      .mt-panel-content
    .mt-error
      .mt-panel-title 实时错误
      .mt-panel-content